html {
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
    ;
}

.header {
    position: unset;
}

.conatiner_info_main {
    width: 1200px;
    margin: 19px auto;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);

}

.black_color {
    color: #232323;
}

.conatiner_info_main a {
    font-size: 13px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: #05a;
}

.product_briefing {
    width: 100%;
    background-color: #FFF;
    margin-top: 20px;
    display: flex;

}

.product_briefing_view {
    width: 480px;
    padding: 15px;
}

.view_big {
    width: 450px;

}

.view_big img {
    width: 450px;
}

.view_list {
    width: 100%;
    display: flex;
    list-style: none;
    margin-top: 5px;
    padding: 0;
}

.view_item {
    /* width: 92px; */
    padding: 5px;
    cursor: pointer;
}

.view_item div:hover {
    border: 2px solid #ee4d2d;
}

.view_item div {
    border: 2px solid #fff;
}

.view_item img {
    width: 82px;
}

.view_footer {
    margin-top: 30px;
    display: flex;
}

.view_info {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-right: 1px solid #e0dddd;
}

.mxh {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1876c121524255f7eb6a64b4d8d0b7e3.png);
    background-size: 100%;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: 0;
    outline: 0;
    overflow: visible;
    position: relative;
    margin: 0 2px;
}

.mxhmess {
    background-position: 0 -100%;
}

.mxhface {
    background-position: 0 0%;
}

.mxhpin {
    background-position: 0 -300%;
}

.mxhtw {
    background-position: 0 -400%;
}

.view_like {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding-left: 50px;
}

.icon_like {
    padding-right: 10px;
}

.icon_like i {
    font-size: 150%;
    color: rgb(242, 62, 131);
}

.product_briefing_buy {
    width: 100%;
}

.product_briefing_buy_wrap {
    padding: 20px;
    padding-right: 35px;
}

.product_briefing_name {
    padding-top: 5px;
}

.product_briefing_name span {
    font-size: 20px;
}

.product_briefing_buy_info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.product_briefing_buy_info_right {
    display: flex;
}

.product_briefing_buy_rank {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #e0dddd;
    cursor: pointer;
    position: relative;
}

.cover {
    width: 0px;
    height: 30px;
    background: #fff;
    position: absolute;
    right: 20px;
    opacity: 0.5;
}

.cover2 {
    width: 0px;
    height: 20px;
    background: #fff;
    position: absolute;
    right: 0;
    top: -1px;
    opacity: 0.5;
}

.product_briefing_buy_rank span {
    border-bottom: 1px solid #ee4d2d;
    color: #ee4d2d;
}

.star {
    padding-left: 5px;
    display: flex;
}

.product_briefing_buy_rank i {
    font-size: 90%;
    color: #ee4d2d;
}

.product_briefing_buy_review {
    display: flex;
    border-right: 1px solid #e0dddd;
    padding: 0 15px;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
}

.product_briefing_buy_review span:first-child {
    border-bottom: 1px solid #232323;
}

.product_briefing_buy_review span:last-child {
    padding-left: 3px;
    text-transform: capitalize;
    font-size: 14px;
    color: #767676;
}

.product_briefing_buy_ed {
    display: flex;
    padding: 0 15px;
    font-size: 16px;
    align-items: center;
}

.product_briefing_buy_ed span:last-child {
    padding-left: 3px;
    text-transform: capitalize;
    font-size: 14px;
    color: #767676;
}

.denounce-btn {
    color: #767676;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.product_briefing_buy_price {
    margin-top: 15px;
    background: #fafafa;
    font-size: 30px;
    display: flex;
    height: 66px;
    align-items: center;
    color: #ee4d2d;
}

.product_briefing_buy_price_wrap {
    width: 100%;
    padding: 15px 20px;
    display: flex;
}

.select_product {
    padding: 20px;
}

.transport {
    display: flex;
    padding-top: 5px;
}

.transport_title {
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 30px;
    width: 80px;
    color: #757575;
}

.transport_wrap_endow {
    display: flex;
    align-items: center;
}

.transport_wrap_endow_logo img {
    height: 20px;
}

.transport_wrap_endow_name {
    padding: 0 10px 7px;
    font-size: 15px;
}

.transport_wrap_main {
    padding-top: 10px;
    display: flex;
}

.transport_wrap_main-logo {
    padding-right: 13px;
}

.transport_wrap_main-logo i {
    font-size: 125%;
}

.transport_to {
    padding-bottom: 10px;
    display: flex;
    color: #232323;
}

.transport_to_title {
    padding-right: 20px;
    color: #636363;
}

.address_transport {
    cursor: pointer;
}

.Transport_fee_price span:hover {
    color: #ee4d2d;
}

.address_transport i,
.Transport_fee_price i {
    color: #636363;
}

.Transport_fee_price {
    cursor: pointer;
}

.Transport_fee_price:hover .Transport_fee_price-info {
    display: block;
}

.Transport_fee {
    position: relative;
    display: flex;
    color: #232323;
}

.Transport_fee_title {
    padding-right: 20px;
    color: #636363;
}

.Transport_fee_price-info {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    padding-bottom: 0;
    z-index: 10;
    border-radius: 2px;
    top: 130%;
    right: -20%;
    display: none;
}

.Transport_fee_price-info::before {
    content: "";
    border-width: 4px 74px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 40%;
    top: -10px;
    cursor: pointer;
}

.Transport_fee_price-info-item1 {
    display: flex;
    min-width: 480px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Transport_fee_price-info-item-title {
    display: flex;
    flex-direction: column;
}

.Transport_fee_price-info-item-title span:first-child {
    padding-bottom: 7px;
    text-transform: capitalize;
}

.Transport_fee_price-info-item-title-date {
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.Transport_fee_price-info-item-title-endow span:first-child {
    color: #ee4d2d;
}

.Transport_fee_price-info-item-title-endow {
    color: rgba(0, 0, 0, 0.54);
}

.Transport_fee_price-info-item-price {
    display: flex;
}

.Transport_fee_price-info-item-price-last {
    text-decoration: line-through;
    /* color: #d8d3d3; */
    padding-right: 2px;
    color: rgba(0, 0, 0, 0.26);

}

.price-now-endow {
    color: #ee4d2d;
}

/* .select_color_quantity-wrap::after{
    content: "";
    border-width: 63.5px 11px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 100%;
    top: 0px;
    cursor: pointer;
    
} */
.select_color {
    padding-top: 20px;
    display: flex;
    padding-left: 20px;
    align-items: baseline;
}

.select_color_title {
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 30px;
    width: 80px;
    color: #757575;
}

.select_color_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 50px); */
    /* justify-items: start; */
    grid-auto-rows: minmax(40px, auto);
}

.select_color_item {
    width: auto;
    height: 40px;
    min-width: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 8px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.select_color_item:hover {
    border-color: #ee4d2d;
}

.select_color_item_name {
    margin: 5px;
}

.select_color_item_active {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0px;
    display: none;
}

.select_color_item_active i {
    position: absolute;
    right: 0;
    bottom: -0;
    z-index: 2;
    color: #fff;
    font-size: 60%;
}

.select_color_item_active::after {
    border: 0.79rem solid transparent;
    border-bottom: 0.79rem solid var(--brand-primary-color, #ee4d2d);
    border-right: 0.79rem solid var(--brand-primary-color, #ee4d2d);
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
}

.quantity_product {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    align-items: center;
}

.quantity_product_title {
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 30px;
    width: 80px;
    color: #757575;
}

.quantity_product_wrap {
    display: flex;
    align-items: center;
}

.quantity_product_number {
    display: flex;
    background-color: #fff;
}

.quantity_product_adjust,
.quantity_product_value {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    font-size: 16px;
}

.quantity_product_adjust {
    padding: 7px 10px;
    cursor: pointer;
    font-size: 20px;
}

.quantity_product_value {
    padding: 7px 20px;
}

.quantity_product_rest {
    color: #636363;
    padding-left: 20px;

}

.quantity_error {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 110px;
    color: #ee4d2d;
    display: none;
}

.buy_product_wrap {
    margin-top: 30px;
}

.buy_product_wrap button {
    border: 1px solid #ee4d2d;
    background-color: #ffeeeb;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.buy_product_wrap button:hover {
    opacity: 0.8;
}

.buy_product_wrap button:first-child {
    color: #ee4d2d;
    text-transform: capitalize;
    margin-right: 10px;
    padding: 15px 20px;
    margin-left: 20px;

}

.buy_product_wrap button:first-child i {
    padding-right: 5px;
}

.buy_product_wrap button:last-child {
    background-color: #ee4d2d;
    color: #fff;
    padding: 15px 20px;
}


.ensure_of_shopee {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: -10px;
}

.ensure_of_shopee_wrap {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    text-decoration: none;

}

.ensure_of_shopee_wrap img {
    height: 20px;
}

.ensure_of_shopee_wrap span:first-of-type {
    padding-left: 5px;
    color: #232323;
}

.ensure_of_shopee_wrap span:last-of-type {
    padding-left: 20px;
    color: rgba(0, 0, 0, .54);
}

.shop_info-wrap {
    margin-top: 15px;
    background-color: #fff;
}

.shop_info_container {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.shop_info {
    display: flex;
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.shop_avatar {
    width: 78px;
    height: 78px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.shop_avatar_img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.shop_avatar i {
    margin: 0 auto;
    font-size: 200%;
}

.shop_title {
    width: 290px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop_name {
    font-size: 16px;
}

.shop_online {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    text-transform: capitalize;
}

.shop_contact button {
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}

.shop_chat:hover {
    background-color: #fff4f2
}

.shop_chat {
    color: #ee4d2d;
    text-transform: capitalize;
    margin-right: 10px;
    padding: 8px;
    background-color: #ffeeeb;
    border: 1px solid #ee4d2d;

}

.shop_view:hover {
    background-color: #f4f4f4;
}

.shop_view {
    text-transform: capitalize;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 8px;
    color: #555
}

.shop_info_statistical {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1.25rem 3.125rem;
    gap: 1.25rem 5.125rem;
    padding-left: 30px;
    color: rgba(0, 0, 0, .4);
}

.shop_info_statistical_item {
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
}

.shop_info_statistical_value {
    color: #ee4d2d;
}


.page-product__content {
    margin-top: 20px;
    background-color: #fff;
}

.page-product__content-wrap {
    padding: 25px;
    padding-bottom: 0;
}

.page-product__content-detail_title,
.page-product__content-describe-title {
    padding: 15px;
    background-color: rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .87);
    font-size: 18px;
}

.page-product__content-detail_main {
    padding: 30px 15px 10px 15px;
}

.page-product__content-detail-item {
    display: flex;
}

.page-product__content-detail-item_name {
    width: 128px;
    padding-bottom: 19px;
    margin-right: 12px;
    color: rgba(0, 0, 0, .4);
}

.page-product__content-detail-item_value a {
    color: #05a;
    font-size: 14px;
    padding: 0 6px;
    text-decoration: none;
    text-transform: capitalize;
}

.page-product__content-detail-item_value a:first-child {
    padding-left: 0;
    margin-left: 0;
}

.page-product__content-describe {
    margin-top: 5px;
}

.page-product__content-describe-main {
    padding: 15px;
    padding-bottom: 0;

}

.page-product__content-describe-main-wrap {
    white-space: pre-line;
    color: rgba(0, 0, 0, .8);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7;
}

.page-product__content-describe-main-wrap p {
    margin: 0;
}

.review_product {
    margin-top: 15px;
    background-color: #fff;
}

.review_product-wrap {
    padding: 25px;
}

.review_product-title {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 5px;
}

.select-review_product {
    margin-top: 20px;
    background-color: #fffbf8;
    border: 1px solid #f9ede5;
    display: flex;
}

.select-review_product-title {
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.select-review_product-title-name {
    font-size: 30px;
    display: flex;
    align-items: baseline;
    color: #ee4d2d;
}

.select-review_product-title-name p {
    font-size: 18px;
    padding-left: 5px;
}

.select-review_product-title-icon_star .star {
    padding: 0;
}

.select-review_product-title-icon_star i {
    font-size: 130%;
    color: #ee4d2d;
}

.select-review_product-title-icon_star {
    position: relative;
}

.select-review_product-item-container {
    margin-left: 15px;
    flex: 1;
    padding: 30px 0px;
}

.select-review_product-item-name {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 7px 13px;
    border-radius: 2px;
    height: 30px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    text-align: center;
    box-sizing: border-box;
    min-width: 100px;
    text-transform: capitalize;
    cursor: pointer;
}

.selected_item {
    border: 1px solid #ee4d2d;
}

.review_product-item-user-album-big-container {
    position: relative;
    width: 415px;
    display: none;
}

.review_product-item-user-album-big-wrap {
    overflow: hidden;
    display: flex;
    width: 414px;
}

.review_product-item-user-album-big-btn_left {
    left: -16px;
}

.review_product-item-user-album-big-container:hover .review_product-item-user-album-big-btn_left,
.review_product-item-user-album-big-container:hover .review_product-item-user-album-big-btn_right,
.review_product-item-user-album-big-btn_left:hover,
.review_product-item-user-album-big-btn_right:hover {
    width: 50px;
    height: 50px;
    top: 43%;
}

.review_product-item-user-album-big-container:hover .review_product-item-user-album-big-btn_left i,
.review_product-item-user-album-big-container:hover .review_product-item-user-album-big-btn_right i,
.review_product-item-user-album-big-btn_left:hover i,
.review_product-item-user-album-big-btn_right:hover i {
    font-size: 180%;
}

.review_product-item-user-album-big-container:hover .review_product-item-user-album-big-btn_left,
.review_product-item-user-album-big-btn_left:hover {
    left: -30px;
}

.review_product-item-user-album-big-container:hover .review_product-item-user-album-big-btn_right,
.review_product-item-user-album-big-btn_right:hover {
    right: -30px;
}

.review_product-item-user-album-big-btn_right,
.review_product-item-user-album-big-btn_left {
    position: absolute;
    top: 46%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    right: -16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 80%;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
}

.review_product-item-user-album-big-btn_right i,
.review_product-item-user-album-big-btn_left i {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .54);
}

.review_product-item-user-album-big {
    display: flex;
    padding: 0;
    max-height: 500px;
    transition: all 500ms ease 0s;
    margin-left: 0;
}

.review_product-item-user-album-item-big {
    list-style: none;
    max-height: 500px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.review_product-item-user-album-item-big img {
    object-fit: cover;
    width: auto;
    max-height: 500px;
}

.review_product-list {
    padding-left: 20px;
}

.review_product-item {
    list-style: none;
    border-bottom: 1px solid #eee;
    display: flex;
}

.review_product-item-user_avt {
    margin-right: 10px;
    /* border: 1px solid; */
    height: 35px;
    width: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ece9e9;
}

.review_product-item-user_avt i {
    font-size: 135%;
    color: #767676;
}

.review_product-item-user_avt img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}

.review_product-item-user-main {
    width: 100%;
    margin-top: 10px;
}

.review_product-item-user-name {
    font-size: 12px;
    padding-bottom: 5px;
}

.review_product-item-user-star_review {
    padding-bottom: 10px;
}

.icon-rating-solid {
    width: 14px;
    height: 14px;
    color: #ee4d2d;
    fill: currentColor;
    margin-right: 2px;
    display: none;
}

.review_product-item-user-star_review .star {
    padding: 0%;
}

.review_product-item-user-info_review {
    display: flex;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
}

.review_product-item-user-info_review-date {
    padding-right: 5px;
    border-right: 1px solid #eee;
}

.review_product-item-user-info_review-type-product {
    padding-left: 5px;
}

.review_product-item-user-comment {
    margin-top: 15px;
}

.review_product-item-user-album {
    display: flex;
    padding: 20px 0;
    width: fit-content;
}

.review_product-item-user-album-item {
    list-style: none;
    width: 72px;
    overflow: hidden;
    height: 72px;
    margin-right: 10px;
    cursor: zoom-in;
}

.review_product-item-user-album-item img {
    width: 100%;
    height: 180%;
}

.feedback_product {
    margin: 10px 0 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, .4)
}

.feedback_product-useful {
    font-size: 14px;
    text-transform: capitalize;
}

.feedback_product-useful i {
    cursor: pointer;
}

.feedback_product-more {
    font-size: 25px;
    cursor: pointer;
}

.feedback_product-more-title {
    padding: 15px 25px;
    font-size: 14px;
    position: absolute;
    right: 0;
    color: #232323;
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 5%);
    /* display: flex; */
    justify-content: center;
    background-color: #fff;
    display: none;
}

.review_product-page-controller {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.page-controller-btn {
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 3.2px 7px;
    margin-right: 20px;
    cursor: pointer;
}

.page-controller-btn i {
    font-size: 90%;
    color: #767676;
    color: rgba(0, 0, 0, .4);
}

.page-controller-btn-main {
    color: #fff;
    background-color: #ee4d2d;
}

.page-controller-btn-right {
    margin-right: 0;
}


.modal__body {
    top: 15%;
    width: 842px;
}

.modal__body-detailed {
    display: flex;
}

.modal__body-detailed-big_img {
    padding: 12px;
    display: flex;
    position: relative;
}

.modal__body-detailed-big_img img {
    width: 516px;
}

.modal__body-detailed-menu {
    padding: 30px 10px;
}

.modal__body-detailed-menu-name {
    font-size: 17px;
    line-height: 20px;
}

.modal__body-detailed-menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.modal__body-detailed-menu-item {
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.modal__body-detailed-menu-item div {
    border: 2px solid #fff;
}

.modal__body-detailed-menu-item img {
    width: 80px;
    height: 80px;
}

.modal__body-detailed-big_img-left {
    position: absolute;
    top: 43%;
    width: 40px;
    height: 80px;
    background-color: black;
    opacity: 0.6;
    color: #fff;
    cursor: pointer;
}

.modal__body-detailed-big_img-left i,
.modal__body-detailed-big_img-right i {
    position: absolute;
    top: 23%;
    right: 19%;
    font-size: 400%;
}

.modal__body-detailed-big_img-right {
    position: absolute;
    top: 43%;
    width: 40px;
    height: 80px;
    background-color: black;
    opacity: 0.6;
    color: #fff;
    right: 8px;
    cursor: pointer;
}

.selected {
    border: 2px solid #ee4d2d;
}