.container__main-category-recommed-header-wrap{
    display: flex;
    position: relative;
    margin-top: 90px;
    height: 130px;
    top: 0;
}
.container__main-category-recommed-header-wrap h1{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    padding: 20px;
    background-color: #ee4d2d;
    border-radius: 8px;
    margin: auto auto;
    position: absolute;
    left: 46%;
    top: 30%;
    z-index: 10;
}

.container__main-category-recommed-header-wrap hr{
    border: 1px solid;
    position: absolute;
    color: rgb(211, 211, 211);
    width: 100%;
    top: 47%;
}
.container__main-category-recommed-panels-item-botton-info{
    display: flex;
    margin-top: 5px;
}




.container__main-category-recommed-panels-item{
    width: 16.66667%;
}