.app{
    background-color: #f6f6f6;
}
.active{
    color: #e54a2b;
}
.container-newProduct{
    margin-top: 58px;
    position: relative;

}
.newProduct-main {
    width: 1200px;
    margin: 0 auto;
    /* background: #fff; */
    
}
.product_info_base{
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(74, 74, 78, .12);

}
.product_info_base h4{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.product-edit__side{
    position: fixed;
    width: 220px;
    top: 72px;
    z-index: 10;
    left: 44px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(74, 74, 78, .12);
    padding: 10px 0;
}
.slide_list_item{
    /* display: flex; */
    padding: 5px 10px;
}
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 10%;
    justify-content: space-around ;
    margin-right: 10px;
  }
  
  .circular-chart {
    display: block;
    margin: 2px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    /* animation: progress 1s ease-out forwards; */
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #f7462e;
  }
  
 
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
.product-edit__main{
    width: 1016px;
    max-width: 1016px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1016px;
    flex: 0 0 1016px;
    margin-left: 142px;
    padding: 5px 0;
}

.item_input{
    width: auto!important;
    padding: 5px 10px!important;
    height: 40px;
}
.item_input  .btn{
    width: 100%;
    padding: 5px;
    height: 100%;
    border: 0!important;
    box-shadow: unset !important;
}

.item_textarea textarea{
    width: 100%;
    resize: none;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
}
.btn.focus, .btn:focus {
    outline: 0; 
    box-shadow: unset; 
}
.btn:hover {
    text-decoration: none;
}
.info_base_item_row{
    padding: 0 30px;
}
.info_base_item{
    display: flex;
    padding: 0 30px;
    gap: 30px;
    margin-bottom: 15px;
}

.info_base_item_title{
    flex-basis: 144px;
    width: 144px;
    max-width: 144px;
    margin-right: 16px;
    min-height: 40px;
    text-align: right;
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.info_base_item_title span{
    font-size: 14px;
}
.info_base_item_main{
    flex: 1;
}
.item_input_sl{
    color: #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding-left: 10px;
}
.item_input_sl span{
    font-size: 16px;
}
.info_base_item_main_note{
    display: flex;
    align-items: flex-end;

}
.info_base_item_main_file{
    display: flex;
    gap: 20px;
    padding: 20px 0;
    flex-wrap: wrap;
}
.mandatory span{
    color: red;
}
.modal_wrap_img_item {
    width: 6rem;
    height: 6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px dashed #000;
    border-radius:5px;
}
/* .modal_wrap_img_item p {
    position: absolute;
    z-index: 4;
    top: 100%;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    transition: 0.3s top ease-in-out;
    background-color: var(--table-border);
    border-radius: 0.8rem;
} */
.up-img-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 3rem;
    color: #667580;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: flex-end;
    z-index: 10;
    color: #f7462e;
}
.icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: flex-end;
    z-index: 1;
    color: #f7462e;
    height: 100%;
}
.icon p{
    font-size: 12px;
    text-align: center;
}
.icon i{
    font-size: 30px;
}

.up-img {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 0.8rem;

    outline: none;
    cursor: pointer;
    margin: 0;
    z-index: 2;
    position: absolute;
}

.modal_wrap_img_item:hover {
    background: #fdf3f1;
    border: 1px dashed #f7462e;
}
.modal_branch_container_list li span{
    text-transform: capitalize;
}
.button-35.up-btn {
    padding: 1rem 4rem;
}
.post-btn {
    display: none;
}
.img_uploaded{
    width: 6rem;
    height: 6rem;
}
.img_uploaded img{
    width: 100%;
}
/* test */


.modal_branch_container_list{
    display: flex;
}
.modal-body{
    background-color: #f6f6f6;
    margin: 0 30px;
}
.package_size{
    display: flex;
    align-items: center;
    gap: 10px;
}
.package_size i{
    color: #e5e5e5;
}
.search_input{
    border: 1px solid #e5e5e5;
    width: 35%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}
.search_input:hover{
    border: 1px solid #b7b7b7;

}
.btn_item {
    border: 1px dashed #b7b7b7;
    color: #f7462e;
}
.btn_item i{
    color: #f7462e!important;
    margin-right: 10px;
}
.btn_item:hover{
    background-color: #fdf3f1;
    border: 1px dashed #f7462e;

}
.search_input input{
    border: none;
    width: 80%;
    padding: 2px 10px;

}
.search_input input::placeholder{
    font-size: 14px;
}
.search_input input:focus-visible{
    outline: none;
}
.search_input i{
    color: #b7b7b7;
}
.search_input select{
    width: 100%;
    height: 100%;
    border: 0;
  outline: 0;
  background-color: transparent;
}
@media (min-width: 576px){

    .modal-dialog {
        max-width: 900px!important;
        margin: 1.75rem auto;
    }
}
.industry_prtoduct_group{
    position: relative;
    width: 100%;
    height: 100%;
}
.industry_prtoduct_group input,.industry_prtoduct_group button{
    position: absolute;
}
.modal_branch_container_list_main{
    background-color: #fff;
    margin: 20px 0;
}
.modal_branch_container_list ul{
    width: 240px;
    border-right: 1px solid #b7b7b7;
    margin: 10px 0;
    padding: 0;
    height: 350px;
    overflow: auto;
}
.modal_branch_container_list li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
}
.modal_branch_container_list li:hover{
    background-color: #f6f6f6;
    cursor: pointer;
}
.modal_branch_container_list li i{
    color: #b7b7b7;

}
.btn_bracnh_enter{
    background-color:#f7462e !important ;
}
.btn{
    border: 0!important;
}
.btn_exit{
    background-color:#fff !important ;
    border: 1px solid #b7b7b7!important;
}
.info_base_item_main .modal-footer{
    justify-content: space-between!important;
}
.result_branch_container{
    display: flex;
    align-items: flex-end;
}
.result_branch_container span{
    font-weight: bold;
}
.result_branch{
    margin-left: 10px;
    margin-right: 3px;
    font-size: 14px;
    text-transform: capitalize;
}
.result_branch i{
    margin-left: 3px;
}
.info_sell_a{
    display: block;
}
.info_sell_b{
    display: none;
}
.info_sell_item_select .info_base_item_title{
    justify-content: flex-start;
    flex-basis: 70px;
    font-size: 14px;
}
.info_sell_item_select .info_base_item_main{
    display: flex;
    align-items: center;
}
.info_sell_item_select .info_base_item_main i{
    margin-left: 10px;
    cursor: pointer;
    color: #b7b7b7;
}
.info_sell_item_select .info_base_item_main i:hover{
    color: #667580;
}
.info_sell_item_select .info_base_item{
    align-items: center !important;
}
.info_sell .info_base_item{
    align-items: flex-start;
}
.info_sell_item_select .row{
    width: 100%;
    margin-left: -5px;
}
.info_sell_item_select .row .info_base_item_main{
    margin-bottom: 15px;
}
.bc_info_sell{
    background-color: #f6f6f6;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}
.bc_info_sell i.fa-xmark{
    position: absolute;
    right: 2%;
    cursor: pointer;
}
.set_all_sell_price .item_input_sl{
    border-left: 0;
    border-right: 1px solid #b7b7b7;
    padding-right: 10px;
}
.set_all_sell_input{
    display: flex;
    flex: 1;
}
.set_all_sell_input .search_input{
    height: 30px;
}
.set_all_sell{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.set_all_sell_btn button{
    background-color: #f7462e;
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
}
td .search_input{
    width: auto;
}
th{
    text-align: center !important;
    background-color: #f5f5f5 !important;
}
td{
    text-align: center !important;

}
.ship_item{
    border: 1px solid #e5e5e5;
}
.ship_item_title{
    padding: 10px 20px;
    background: #f9f9f9;
}
.ship_item_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.ship_item_name{
    display: flex;
    align-items: center;
}
.ship_item_name_tag{
    background-color: #fff1f0;
    color: #ee4d2d;
    margin-left: 10px;
}
.ship_item_name_tag span{
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 5px;
}
.ship_item_price{
    display: flex;
    gap: 20px;
}
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #b7b7b7;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }    
   .foot_info{
    display: flex;
    justify-content: flex-end;
    /* background-color: transparent; */
    margin-bottom: 30px;
    /* box-shadow: unset ; */
    position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  /* background-color: yellow; */
   }
   .foot_info_btn button{
    outline: 0;
    border-radius: 5px;
    width: 150px;
    margin: 0 10px;
    padding: 5px 0;
   }
   .base_btn{
    border: 1px solid #e5e5e5;
    background-color: #fff;
   }
   .base_btn:hover{
    background-color: #f5f5f5;
   }
   .primary_btn{
    background-color: #ee4d2d;
    color: #fff;
    border: 0;
   }
   .primary_btn:hover{
    background-color: #e54a2b;
   }