<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/shop/header.css" />
    <link rel="stylesheet" href="../../../css/shop/newProduct.css" />
  </head>
  <body>
    <script>
      // const group_type = <%=group_type %>;
      const type_sp =<%-JSON.stringify(type_sp)%>
      const group_type =<%-JSON.stringify(group_type)%>
    </script>
    <div class="app">
      <%- include(header) %>

      <div class="container-newProduct">
        <div class="newProduct-main">
          <div class="product-edit__main">
            <section class="product_info_base">
              <h4>Thông tin cơ bản</h4>
              <div class="info_base_item">
                <div class="info_base_item_title">
                  <span>Hình ảnh sản phẩm</span>
                </div>
                <div class="info_base_item_main">
                  <div class="info_base_item_main_note">
                    <div class="mandatory"><span>*</span></div>
                    <span>Hình ảnh tỷ lệ 1:1</span>
                  </div>
                  <div class="info_base_item_main_file">
                    <div class="modal_wrap_img">
                      <div class="modal_wrap_img_item">
                        <input
                          type="file"
                          class="upload-input"
                          multiple
                          style="display: none" />
                        <img class="up-img" />
                        <div class="icon">
                          <i class="fa-regular fa-images"></i>
                          <p>Thêm hình ảnh (1/<span>9</span>)</p>
                        </div>
                        <button class="up-img-btn"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info_base_item">
                <div class="info_base_item_title">
                  <div class="mandatory"><span>*</span>Tên sản phẩm</div>
                </div>
                <div class="info_base_item_main">
                  <div class="item_input search_input name_product_input">
                    <input type="text" id="name_product" name="name_product" />
                    <div class="item_input_sl"><span>0</span>/120</div>
                  </div>
                </div>
              </div>
              <div class="info_base_item">
                <div class="info_base_item_title">
                  <div class="mandatory"><span>*</span>Ngành hàng</div>
                </div>
                <div class="info_base_item_main">
                  <!-- Button trigger modal -->
                  <div class="item_input search_input">
                    <div class="industry_prtoduct_group">
                      <input type="text" value="" placeholder="Nhập vào">
                    <button
                      type="button"
                      class="btn industry_prtoduct"
                      data-toggle="modal"
                      data-target="#exampleModalCenter"></button>
                    </div>
                    <i class="fa-solid fa-pen"></i>
                  </div>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModalCenter"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                            Chỉnh sửa ngành hàng
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="modal_branch_container">
                            <div class="modal_branch_container_search">
                              <div class="search_input">
                                <input
                                  type="text"
                                  placeholder="Vui lòng nhập tối thiểu 1 kí tự" />
                                <i class="fa-solid fa-magnifying-glass"></i>
                              </div>
                            </div>
                            <div class="modal_branch_container_list_main">
                              <div class="modal_branch_container_list">
                                <ul class="branch_group_a"></ul>
                                <ul class="branch_group_b"></ul>
                                <ul class="branch_group_c"></ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="result_branch_container">
                            Đã chọn:
                            <div class="result_branch_a result_branch">
                              <span>Sắc đẹp</span
                              >
                            </div>
                            <div class="result_branch_b result_branch">
                              <span>Sắc đẹp</span
                              >
                            </div>
                            <div class="result_branch_c result_branch">
                              <span>Sắc đẹp</span>
                            </div>
                          </div>
                          <div class="btn_modal">
                            <button
                              type="button"
                              class="btn btn_exit"
                              data-dismiss="modal">
                              Huỷ
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary  btn_bracnh_enter" data-dismiss="modal">
                              Xác nhận
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info_base_item">
                <div class="info_base_item_title">
                  <div class="mandatory"><span>*</span>Mô tả sản phẩm</div>
                </div>
                <div class="info_base_item_main">
                  <div class="item_textarea">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                  </div>
                </div>
              </div>
            </section>
            <section class="product_info_base">
              <h4>Thông tin chi tiết</h4>

              <div class="row row-cols-2 info_base_item_row">
                <div class="info_base_item">
                  <div class="info_base_item_title">
                    <div class="mandatory"><span>*</span>Thương hiệu</div>
                  </div>
                  <div class="info_base_item_main">
                    <div class="item_input search_input">
                      <input
                        placeholder="Vui lòng nhập ..."
                        type="text"
                        name="brand_name"
                        class="brand_name " 
                        />
                    </div>
                  </div>
                </div>
                <div class="info_base_item">
                  <div class="info_base_item_title">
                    <div class="mandatory"><span>*</span>Xuất xứ</div>
                  </div>
                  <div class="info_base_item_main">
                    <div class="item_input search_input">
                      <input
                        placeholder="Vui lòng nhập ..."
                        type="text"
                        name="origin"
                        id="origin" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-cols-2 info_base_item_row">
                <div class="info_base_item">
                  <div class="info_base_item_title">
                    <div class="mandatory">
                      <span>*</span>Số sản phẩm còn lại
                    </div>
                  </div>
                  <div class="info_base_item_main">
                    <div class="item_input search_input">
                      <input
                        placeholder="Vui lòng nhập ..."
                        type="text"
                        name="quatity"
                        id="quatity" />
                    </div>
                  </div>
                </div>
                <div class="info_base_item">
                  <div class="info_base_item_title">
                    <div class="mandatory"><span>*</span>Gửi từ</div>
                  </div>
                  <div class="info_base_item_main">
                    <!-- Button trigger modal -->
                    <div class="item_input search_input">
                      <input
                        placeholder="Vui lòng nhập ..."
                        type="text"
                        name="sent_from"
                        id="sent_from" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-cols-2 info_base_item_row">
                <div class="info_base_item">
                  <div class="info_base_item_title">
                    <div class="mandatory"><span>*</span>Hạn bảo hành</div>
                  </div>
                  <div class="info_base_item_main">
                    <div class="item_input search_input">
                      <select name="guarantee" id="guarantee">
                        <option value="">1 tháng</option>
                        <option value="">2 tháng</option>
                        <option value="">3 tháng</option>
                        <option value="">6 tháng</option>
                        <option value="">12 tháng</option>
                        <option value="">24 tháng</option>
                        <option value="">3 năm</option>
                        <option value="">5 năm</option>
                        <option value="">Không bảo hành</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="info_base_item">
                  <div class="info_base_item_title">
                    <div class="mandatory"><span>*</span>Tình trạng</div>
                  </div>
                  <div class="info_base_item_main">
                    <!-- Button trigger modal -->
                    <div class="item_input search_input">
                      <select class="" name="status" id="status">
                        <option value="">Mới</option>
                        <option value="">Đã qua sử dụng</option>
                        <option value="">Khác</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="product_info_base">
              <h4>Thông tin bán hàng</h4>
              <div class="info_sell info_sell_a">
                <div class="row row-cols-2 info_base_item_row">
                  <div class="info_base_item">
                    <div class="info_base_item_title">
                      <div class="">Phân loại hàng</div>
                    </div>
                    <div class="info_base_item_main">
                      <button class="btn_item item_input search_input">
                        <i class="fa-solid fa-plus"></i>Thêm nhóm phân loại
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row row-cols-2 info_base_item_row">
                  <div class="info_base_item">
                    <div class="info_base_item_title">
                      <div class="mandatory"><span>*</span>Giá</div>
                    </div>
                    <div class="info_base_item_main">
                      <!-- Button trigger modal -->
                      <div class="item_input search_input">
                        <input type="text" name="" id="" />
                      </div>

                      <!-- Modal -->
                    </div>
                  </div>
                </div>
                <div class="row row-cols-2 info_base_item_row">
                  <div class="info_base_item">
                    <div class="info_base_item_title">
                      <div class="mandatory"><span>*</span>Kho hàng</div>
                    </div>
                    <div class="info_base_item_main">
                      <div class="item_input search_input">
                        <input type="text" name="" id="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info_sell info_sell_b">
                <div class="info_base_item_row row">
                  <div class="info_base_item">
                    <div class="info_base_item_title">
                      <div class="">Phân loại hàng</div>
                    </div>
                    <div class="info_base_item_main">
                      <div class="group_sell bc_info_sell bc_info_sell_a">
                        <i class="fa-solid fa-xmark"></i>
                        <div class="row row-cols-2 info_sell_item_select">
                          <div class="info_base_item">
                            <div class="info_base_item_title">
                              <div class="mandatory">Nhóm phân loại 1</div>
                            </div>
                            <div class="info_base_item_main">
                              <div class="item_input search_input">
                                <input
                                  placeholder="Vui lòng nhập ..."
                                  type="text"
                                  name="brand_name"
                                  class="brand_name brand_name_main" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row info_sell_item_select">
                          <div class="info_base_item">
                            <div class="info_base_item_title">
                              <div class="mandatory">Phân loại hàng</div>
                            </div>
                            <div class="row row-cols-2">
                              <div class="info_base_item_main">
                                <div class="item_input search_input">
                                  <input
                                    placeholder="Vui lòng nhập ..."
                                    type="text"
                                    name="brand_name"
                                    class="brand_name" 
                                    id="x25"/>
                                </div>
                                <i class="fa-regular fa-trash-can"></i>
                              </div>
                              
                             
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="group_sell bc_info_sell group_sell_more">
                        <div class="row row-cols-2 info_sell_item_select">
                          <div class="info_base_item">
                            <div class="info_base_item_title">
                              <div class="mandatory sell_name">Nhóm phân loại 2</div>
                            </div>
                            <div class="info_base_item_main">
                              <button class="btn_item item_input search_input">
                                <i class="fa-solid fa-plus"></i>Thêm nhóm phân
                                loại 2
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="info_base_item_row row">
                  <div class="info_base_item">
                    <div class="info_base_item_title">
                      <div class="">Danh sách phân loại hàng</div>
                    </div>
                    <div class="info_base_item_main">
                      <div class="set_all_sell">
                        <div class="set_all_sell_input">
                          <div class="set_all_sell_price search_input">
                            <div class="item_input_sl">
                              <span>₫</span>
                            </div>
                            <input type="text" placeholder="Giá" />
                          </div>
                          <div class="set_all_sell_price search_input">
                            <input type="text" placeholder="Giá" />
                          </div>
                          <div class="set_all_sell_price search_input">
                            <input type="text" placeholder="Giá" />
                          </div>
                        </div>
                        <div class="set_all_sell_btn">
                          <button>Áp dụng cho tất cả phân loại</button>
                        </div>
                      </div>
                      <div class="group_sell">
                        <table class="table table-bordered">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col" class="brand_name_main_a">Nhóm phân loại 1</th>
                              
                              <th scope="col">
                                <div class="mandatory"><span>*</span>Giá</div>
                              </th>
                              <th scope="col">
                                <div class="mandatory">
                                  <span>*</span>Kho hàng
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="row"></td>
                              <td>
                                <div class="set_all_sell_price search_input">
                                  <div class="item_input_sl">
                                    <span>₫</span>
                                  </div>
                                  <input type="text" placeholder="Giá" />
                                </div>
                              </td>
                              <td>
                                <div class="set_all_sell_price search_input">
                                  <input type="text" value="0" />
                                </div>
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="product_info_base">
              <h4>Thông tin cơ bản</h4>

              <div class="info_base_item">
                <div class="info_base_item_title">
                  <div class="mandatory">
                    <span>*</span>Cân nặng (Sau khi đóng gói)
                  </div>
                </div>
                <div class="info_base_item_main">
                  <div class="item_input search_input">
                    <input type="text" />
                    <div class="item_input_sl"><span>gr</span></div>
                  </div>
                </div>
              </div>
              <div class="info_base_item">
                <div class="info_base_item_title">
                  <div class="mandatory">
                    Kích thước đóng gói (Phí vận chuyển thực tế sẽ thay đổi nếu
                    bạn nhập sai kích thước)
                  </div>
                </div>
                <div class="info_base_item_main package_size">
                  <div class="item_input search_input">
                    <input type="text" placeholder="Dài" />
                    <div class="item_input_sl"><span>cm</span></div>
                  </div>
                  <i class="fa-solid fa-xmark"></i>
                  <div class="item_input search_input">
                    <input type="text" placeholder="Rộng" />
                    <div class="item_input_sl"><span>cm</span></div>
                  </div>
                  <i class="fa-solid fa-xmark"></i>
                  <div class="item_input search_input">
                    <input type="text" placeholder="Cao" />
                    <div class="item_input_sl"><span>cm</span></div>
                  </div>
                </div>
              </div>
              <div class="info_base_item">
                <div class="info_base_item_title">
                  <div class="mandatory"><span>*</span>Phí vận chuyển</div>
                </div>
                <div class="info_base_item_main">
                  <div class="ship_item">
                    <div class="ship_item_title">Tiết kiệm</div>
                    <div class="ship_item_main">
                      <div class="ship_item_name">
                        <span>Tiết kiệm</span>
                        <div class="ship_item_name_tag">
                          <span>shopee vận chuyển</span>
                        </div>
                      </div>
                      <div class="ship_item_price">
                        <div class="price">
                          <span>₫13.500</span>
                        </div>
                        <label class="switch">
                          <input type="checkbox" />
                          <span class="slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="ship_item">
                    <div class="ship_item_title">Nhanh</div>
                    <div class="ship_item_main">
                      <div class="ship_item_name">
                        <span>Nhanh</span>
                        <div class="ship_item_name_tag">
                          <span>shopee vận chuyển</span>
                        </div>
                      </div>
                      <div class="ship_item_price">
                        <div class="price">
                          <span>₫13.500</span>
                        </div>
                        <label class="switch">
                          <input type="checkbox" />
                          <span class="slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="ship_item">
                    <div class="ship_item_title">Hoả tốc</div>
                    <div class="ship_item_main">
                      <div class="ship_item_name">
                        <span>Hoả tốc</span>
                        <div class="ship_item_name_tag">
                          <span>shopee vận chuyển</span>
                        </div>
                      </div>
                      <div class="ship_item_price">
                        <div class="price">
                          <span>₫13.500</span>
                        </div>
                        <label class="switch">
                          <input type="checkbox" />
                          <span class="slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="product_info_base foot_info">
              <div class="foot_info_btn">
                <button class="base_btn">Huỷ</button>
                <button class="base_btn">Lưu & Ẩn</button>
                <button class="primary_btn">Lưu & Hiển thị</button>
              </div>
            </section>
          </div>
          <div class="product-edit__side">
            <div class="side_list">
              <div class="slide_list_item">
                <div class="flex-wrapper">
                  <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                      <path
                        class="circle-bg"
                        d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <path
                        class="circle"
                        stroke-dasharray="30, 100"
                        d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <text x="18" y="20.35" class="percentage">30%</text>
                    </svg>
                  </div>
                  <span>Thông tin cơ bản</span>
                </div>
              </div>
              <div class="slide_list_item">
                <div class="flex-wrapper">
                  <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                      <path
                        class="circle-bg"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <path
                        class="circle"
                        stroke-dasharray="30, 100"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <text x="18" y="20.35" class="percentage">30%</text>
                    </svg>
                  </div>
                  <span>Thông tin cơ bản</span>
                </div>
              </div>
              <div class="slide_list_item">
                <div class="flex-wrapper">
                  <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                      <path
                        class="circle-bg"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <path
                        class="circle"
                        stroke-dasharray="30, 100"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <text x="18" y="20.35" class="percentage">30%</text>
                    </svg>
                  </div>
                  <span>Thông tin cơ bản</span>
                </div>
              </div>
              <div class="slide_list_item">
                <div class="flex-wrapper">
                  <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                      <path
                        class="circle-bg"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <path
                        class="circle"
                        stroke-dasharray="30, 100"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <text x="18" y="20.35" class="percentage">30%</text>
                    </svg>
                  </div>
                  <span>Thông tin cơ bản</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../js/shop/newProduct.js"></script>
  </body>
</html>
