
<body>
      <div class="slidebar_right">
        <ul class="list-unstyled ps-0 slidebar_right_ul">
            <li class="mb-1">
              <button class="btn btn-toggle dropdonw_btn align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <img src="https://cf.shopee.vn/file/c15905d5a6284687c4a6ad00d0feb511" alt="">
                Vận chuyển
                <span></span>
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Quản lí vận chuyển</a></li>
                  <li><a href="#" class="link-dark rounded">Giao hàng loạt</a></li>
                  <li><a href="#" class="link-dark rounded">Cài đặt vận chuyển</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle dropdonw_btn align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                <img src="https://cf.shopee.vn/file/f82f8ccb649afcdf4f07f1dd9c41bcb0" alt="">
                Quản lí đơn hàng
                <span></span>
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="collapse show" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Tất cả </a></li>
                  <li><a href="#" class="link-dark rounded">Đớn huỷ</a></li>
                  <li><a href="#" class="link-dark rounded">Trả hàng /hoàn tiền</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle dropdonw_btn align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                <img src="https://cf.shopee.vn/file/3fa3bdb20eb201ae3f157ee8d11a39d5" alt="">
                Quản lí sản phẩm
                <span></span>
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="collapse show" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">tất cả sản phẩm</a></li>
                  <li><a href="banhang/portal/product/new" class="link-dark rounded">thêm sản phẩm</a></li>
                  <li><a href="#" class="link-dark rounded">sản phẩm vi phạm</a></li>
                  <li><a href="#" class="link-dark rounded">cài đặt sản phẩm</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle dropdonw_btn align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#marketing-collapse" aria-expanded="true">
                  <img src="https://cf.shopee.vn/file/2f9d62dd7e037c22608ac75dfb84a409" alt="">
                  Kênh marketing
                  <span></span>
                  <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="collapse " id="marketing-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Kênh marketing</a></li>
                    <li><a href="#" class="link-dark rounded">quảng cáo shopee</a></li>
                    <li><a href="#" class="link-dark rounded">mã giảm giá của tôi</a></li>
                    <li><a href="#" class="link-dark rounded">tăng đơn cùng KOL</a></li>
                    <li><a href="#" class="link-dark rounded">hiệu quả shopee live</a></li>
                  </ul>
                </div>
              </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle dropdonw_btn align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">New...</a></li>
                  <li><a href="#" class="link-dark rounded">Profile</a></li>
                  <li><a href="#" class="link-dark rounded">Settings</a></li>
                  <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
              </div>
            </li>
          </ul>
      </div>
</body>
